{% extends "base.html" %}

{% block title %}Актеры{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Знаменитые актеры</h2>

    <div class="row">
        {% for actor in actors %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="{{ actor.photo.url }}" class="card-img-top" alt="{{ actor.name }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'movies:actor_detail' actor.id %}">{{ actor.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет данных об актерах</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
